<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <title>IP Lookup Service</title>
    <meta name="description" content="William Stanton - IP Lookup Service">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name=”robots” content="noindex, nofollow">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Style/CSS -->
    <link rel="stylesheet" href="/main.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/home.css" media="print" onload="this.media='all'">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Navbar-->
    <div class="navbar">
        <div class="name">
            <a class="title" href="/"><p>IP Lookup Service</p></a>
            <a class="author" href="https://williamstanton.net"><p>By William Stanton</p></a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="mailto:mail@williamstanton.net">Contact</a>
        </div>
    </div>

    <!-- Client Data -->
    <div class="section clientData">
        <div class="sectionHeader">
            <h2>Your IP Info</h2>
            <p>IP Address: <a th:href="@{/iplookup/{visitorIp} (visitorIp=${clientData.ip})}"><span th:text="${clientData.ip}"></span></a></p>
        </div>
        <div class="dataLookup">
            <div class="data">
                <h3>📍 Location</h3>
                <p><span th:text="${clientData.city_name}"></span> (<span th:text="${clientData.zip_code}"></span>), <span th:text="${clientData.region_name}"></span>, <span th:text="${clientData.country_name}"></span></p>
            </div>
            <div class="data">
                <h3>🌐 Service Provider</h3>
                <p><span th:text="${clientData.as}"></span></p>
            </div>
            <div class="data">
                <h3>🥷 VPN</h3>
                <p><span th:text="${clientData.is_proxy} ? 'Connection Protected 🛡️' : '⚠️ Unprotected Connection'"></span></p>
            </div>
        </div>
    </div>

    <!-- Messages -->
    <div class="messages">
        <div class="message service">
            <h2>Lookup Service</h2>
            <p>To lookup any IP Address, enter the IP below</p>
            <form action="/iplookup" method="post">
                <input type="text" name="ip">
                <button type="submit">Go!</button>
            </form>
        </div>
        <div class="message code">
            <h2>Full Transparency</h2>
            <p>View the complete code for this website</p>
            <button onclick="location.href = 'https://github.com';">Visit Github Repo</button>
        </div>
    </div>
</body>
</html>